#content{
	height:920px;
}
#sideBar{
	height:920px;
	
}
.sideItem{
	margin-top:40px;
}
.social{
	height:30px;
	width:30px;
	opacity:.3;
	margin-left:10px;
	float:left:
}
.social:hover{
	cursor:pointer;
	opacity:1;
}

.socialLink:hover .social{
	cursor:pointer;
	opacity:1;
	
}



#infoHeader{
	font-family:Calibri, Sans-Serif;
	width:962px;
	color:white;
	background-color:Black;
	padding-left:30px;
	
}
#installList{
	height:65px;	
}
.places:first-child{
	list-style-type:none;
}

#slogan{
	text-align:center;
	margin-top:0px;
	margin-bottom:90px;
	text-decoration:underline;
	font-family:calibri,sans-serif;
}


.places{
    font-family: Arial, Sans-Serif;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 0px;
    margin-right: 50px;
    float: left;
    font-size: 22px;
}

#info{
	height:365px;
}

#info p{
	padding:0px 30px 10px 30px;
	font-family:Arial,sans-serif;
	font-size:22px;
}



#header{
	text-align:center;
	Font-family:Arial,Sans-Serif;
	font-size:32px;
	margin-bottom:4px;
	font-weight:bold;
}
#media{
	margin:0 auto;
	width:712px;
	height:400px;
}



#headerSub{
	font-family:Arial,sans-serif;
	font-size:20px;
	text-align:center;
}
.content{
	width:712px;
	height:400px;
	margin:0 auto;
	position:absolute;
}
.subtitle{
	position:relative;
}
#leftButton,#rightButton{
		height:60px;
		width:60px;
		border-radius:30px;
		border:3px solid black;
		margin-top:150px;
}
#leftButton{
	float:left;	
	margin-left:30px;
	background-image:url("../Repairs/blackLeft.png");
}
#rightButton{
	float:right;
	margin-right:30px;
	background-image:url("../Repairs/blackRight.png");
}
#leftButton:hover,#rightButton:hover{
	background-color:black;
	cursor:pointer;
}
#leftButton:hover{
	background-image:url("../Repairs/whiteLeft.png");
}
#rightButton:hover{
	background-image:url("../Repairs/whiteRight.png");
}

/*Subtitle styles and Positions*/

#projSub{
	position:relative;
	top:325px;
	left:60px;
}

#rackSub{
	position: relative;
    left: 500px;
    top: 135px;
}

#speakerSub{
	position: relative;
    left: 450px;
    top: 130px;
}
