#headerSub{
    font-family: Arial,sans-serif;
    font-size: 26px;
    margin: 10px 0px 60px 0px;
    text-align: center;
}
#header{
	font-family:Arial,sans-serif;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#djmarcb{
    float: left;
    height: 400px;
    width: 400px;
    border: 3px solid black;
    border-radius: 15px;
    margin-left: 40px;
}
#djlogo{
    float: left;
    height: 135px;
    margin-left: 90px;
	
	
}
#desc{
    height: 340px;
    width: 400px;
    float: left;
    margin-left: 70px;
    font-size: 24px;
    font-family: Arial,sans-serif;
    text-align: center;
}
#contract{
	clear:both;
	text-align:center;
	font-size:34px;
	font-family:Arial, Sans-Serif;
	
}

.social{
	height:30px;
	width:30px;
	opacity:.3;
	margin-left:10px;
	float:left:
}
.social:hover{
	cursor:pointer;
	opacity:1;
}

.socialLink:hover .social{
	cursor:pointer;
	opacity:1;
	
}
