				/*Item View Content*/
			

h3{	
	margin:10px;
	margin-bottom:0px;
	border-radius:15px 15px 0px 0px;
	background:black;
	text-align:center;
	color:white;
}
				
#view img{
	height:500px;
	
}
#view td,#view p,#view h3{
 width:50%
}

#view *{
	border-collapse:collapse;
	margin:0px;
	border:0px;
	padding:0px;
}
#view{
	border:3px solid black;
	margin-right:10px;
	margin-left:10px;
	height:700px;
}


#gallery *{
		border-collapse:collapse;
		margin:0px;
		border:0px;
		padding:0px;
		height:200px;

}
#gallery img{
	width:100%;
}

#gallery{
	background:black;
	border-color:#562828;
	border-radius:0px 0px 15px 15px;
	border:10px;
	margin:10px;
	margin-top:0px;
	padding-left:30px;
	padding-right:30px;




}