#content, #sideBar{
	height:600px;
}

#header{
	text-align:center;
	font-family:calibri, sans-serif;
	font-size:38px;
}
#media{
	display:block;
	width:712px;
	height:400px;
	margin:0 auto;
}
#content p{
	margin:0 auto;
	text-align:center;
	font-family:Calibri,Sans-serif;
	font-size:18px;
	margin-top:20px;
}
.content{
	width:712px;
	height:400px;
	margin:0 auto;
	position:absolute;
}
.subtitle{
	position:relative;
}
#leftButton,#rightButton{
		height:60px;
		width:60px;
		border-radius:30px;
		border:3px solid black;
		margin-top:150px;
}

#leftButton:hover,#rightButton:hover{
	background-color:black;
	cursor:pointer;
}
#leftButton:hover{
	background-image:url("../Repairs/whiteLeft.png");
}
#rightButton:hover{
	background-image:url("../Repairs/whiteRight.png");
}
#leftButton{
	float:left;	
	margin-left:30px;
	background-image:url("../Repairs/blackLeft.png");
}
#rightButton{
	float:right;
	margin-right:30px;
	background-image:url("../Repairs/blackRight.png");
}

.social{
	height:30px;
	width:30px;
	opacity:.3;
	margin-left:10px;
	float:left:
}
.social:hover{
	cursor:pointer;
	opacity:1;
}

.socialLink:hover .social{
	cursor:pointer;
	opacity:1;
	
}