
								/*SERVICE CONTENT*/



.repeater{
	display:inline-block;
	position:relative;
	left:70px;
	width:400px;
	height:350px;
	margin:10px;
	border:3px solid black;
	border-radius:15px;
	background: linear-gradient(#CACFD2,#EEEEEE);
	text-align:center;
	vertical-align: bottom;
	margin-top:30px;

}

.repeater p{
	padding-left:5px;
	color:white;
	font-family:Arial,Sans-serif;
	width:100%;
	padding:0;
	position:absolute;
	bottom:0;
	background-color:black;
	height:50px;
	margin:0;
	border-radius:0px 0px 10px 10px;
}
.repeater h3{
	padding-left:5px;
	color:White;
	background-color:black;
	padding:10px;
	margin:0;
	border-radius:10px 10px 0px 0px;
	font-family:Arial,Sans-serif;
	font-size:26px;
}


.repeater:hover{
	box-shadow: 10px 10px 10px #888888;
}
.repeater a{
	text-decoration:none;
}

.repeater.newLine{
	display:inline-block;
	position: relative;
}
