html{
	background: url("../images/background.png") no-repeat center center fixed;
	background-repeat:no-repeat;
	height:100%;
	background-size:cover;
	width:100%;
}


					/*NAVIGATION STYLING*/
nav ul{
	background:linear-gradient(#808080,#0d0d0d);
	border-radius: 15px;
	height:80px;
	width:1194px;
	list-style-type:none;
	margin:0;
	padding:0;
	border:3px solid black;
}

nav ul li{
	float:left;
	height:80px;
	width:195px;
	list-style-type:none;
	text-align:center;
}


nav ul li a{
	position:relative;
	top:25px;
	text-decoration:none;
	color:white;
	font-family:Arial Black,Sans-Serif;
	font-size:24px;
	padding:15px;
}

nav ul li:hover{
		background-color:#000000;
	
}

nav ul li a:hover{
	text-shadow:2px 2px 2px black;
}

nav ul li:first-child:hover{
	background-color:#121212;
	border-radius:10px 0px 0px 10px;
}		

.active{
	background-color:Black;
	border-radius:10px 0px 0px 10px;
}	
	
.dropdown{
	display:none;
	position:absolute;
	width:195px;
	margin-top:20px;
}

.dropdown a{
	color:white;
	text-decoration:none;
	display:block;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:14px;
	background-color:black;
	position:relative;
	z-index: 1;
}
.dropdown a:hover{
	background-color:#708090;
	
}
.dropdown a:first-child{

}
.dropdown a:last-child{
	border-radius:0px 0px 10px 10px;
	
}
nav li:hover .dropdown{
	display:block;
	
}	
			
								/*End of the navigation styling*/

								
								

								/*SIDEBAR STYLING*/
#sideBar{
	height: 600px;
	width: 187px;
	background-color:#ffffff;
	position:relative;
	float:left;
	display:block;
	border-radius:15px;
	top:10px;	
	border:3px solid black;
}
#sideBar h3{
	font-family:Arial Black, Sans-serif;
	font-size:20px;
	position:relative;
	text-align:center;
}
#GOTW{
	padding:5px;
	color:white;
	margin:0px;
	border-radius:5px 5px 0px 0px;
	background-color:black;
	border-bottom:3px solid black;
}
#sideBar a{
	text-decoration:none;
	color:black;
}


.sideItem{
	background-color:black;
	height:150px;
	width:150px;
	position:relative;
	float:left;
	text-align:center;
	border-radius:15px;
	margin-left:18px;
	margin-top:30px;
}

.sideName{
	float:left;
	margin-top:10px;
	width:186px;
	text-align:center;
	font-family:Arial,Sans-serif;
	font-size:18px;
}



	
								/*End of the Side Bar Styling*/

								/*CONTENT STYLING*/
#content{
	border-radius:15px;

	width: 992px;
	background-color:#ffffff;
	float:left;
	position:relative;
	left: 10px;
	top:10px;
	border:3px solid black;
}
#content h3{
	text-align:center;
	font-family:Arial;
	font-size:26px;
}




								/*End of content*/
								/*Header Styling*/
header{
	height:120px;
	width:1194px;
	background-color:#ffffff;
	border-radius:15px;
	margin-bottom:10px;
	border:3px solid black;
}
#scLogo{
	float:left;
	height:110px;
	width:110px;
	position:relative;
	top:5px;
	left:10px;
}

#Logo{
	float:left;
	height:100px;
	width:350px;
	position:relative;
	top:10px;
	margin-left:10px;
}

#phone{
	width:220px;
	height:120px;
	float:right;
	position:relative;
	right:10px;
}
#phone table{
	width:200px;
	position:relative;
	text-align:center;

}
#phone table tr:first-child{
	background-color:black;
	color:white;
	font-size:24px;
}
#phone table td:nth-child(odd){
	color:white;
	font-family:Arial,Sans-Serif ;
	background-color:black;
	border-radius:5px;
}

#phone table td:nth-child(even){
	color:black;
	font-family: Arial, Sans-serif;
	background-color:white;
	border-radius:5px;
	border:2px solid black;
}

#storeHours{
	width:170px;
	height:120px;
	border-radius:15px;
	float:right;
	margin-right:20px;
}

#Hours{
	width:170px;
	position:relative;
	text-align:center;
	height:10px;
	right:20px;
}




#storeHours table{
	width:170px;
	font-size:14px;
	font-family:Arial, Sans-Serif;
	position:relative;
	text-align:center;
}


#storeHours table tr:first-child{
	background-color:black;
	color:white;
	font-size:24px;
	font-family:Arial,Sans-Serif;
}

#storeHours table td:nth-last-child(n+1){
	height:19px;
}


#storeHours table td:nth-child(odd){
	color:white;
	font-family: Arial,Sans-Serif;
	background-color:black;
	border-radius:5px;
}

#storeHours table td:nth-child(even){
	color:black;
	font-family: Arial,Sans-Serif;
	background-color:white;
	border-radius:5px;
	border:2px solid black;
}






								/* 	FOOTER STYLING	*/

footer{
	position:relative;
	top:20px;
	width:1200px;
	height:180px;
	clear:both;
	background-color:black;
	color:white;
	border-radius:15px;
	
}
footer ul{
	float:left;
}


.social{
	height:30px;
	width:30px;
	opacity:.3;
	margin-left:10px;
	float:left:
}
.social:hover{
	cursor:pointer;
	opacity:1;
}

.socialLink:hover .social{
	cursor:pointer;
	opacity:1;
	
}
footer ul li {
	list-style-type:none;
	margin-top:10px;
}

footer ul li a img{
	margin-right:10px;
	border-radius:5px;
}

#facebook,#reverb ,#twitter{
	text-decoration:none;
	color:white;
	font-family:Arial;
}



#map{
	position:relative;
	margin-right:20px;
	margin-top:15px;
	float:right;
	border-radius:15px;
	
}


								/*	WEBSITE WRAP	 */
#wrap{
	width:1200px;
	margin:auto;
}

								/*	GEAR OF THE WEEK IMAGES */
								
/*Featured Gear Pictures*/


#covecreek{
	background-image:url("../storePictures/Folk/covecreek.jpg");
	background-size:100% 100%;
}
								
#rebel30{
		background-image:url("../storePictures/Amps/Rebel30MarkII.jpg");
		background-size:100% 100%;
}
#microcl{
		background-image:url("../storePictures/Amps/microcl.jpg");
		background-size:100% 100%;
	
}
#wk6600{
	background-image:url("../storePictures/Keyboards/WK-6600.jpg");
	background-size:100% 100%;
}
#scarlett2i2{
	background-image:url("../storePictures/Pro_Audio/scarlett2i2.jpg");
	background-size:100% 100%;
}
#k12speaker{
	background-image:url("../storePictures/Speakers/qsck12.jpg");
	background-size:100% 100%;	
}
#c6blue{
	background-image:url("../storePictures/Guitars/c-6Blue.jpg");	
	background-size:100% 100%;
}
#ds1{
	background-image:url("../storePictures/Pedals/ds1.jpg");
	background-size:100% 100%;
	
}


#APB200RD{
	background-image:url("../storePictures/Basses/APB200RD.jpg");
	background-size:100% 100%;
}
#ph3{
	background-image:url("../storePictures/Pedals/ph3.jpg");
	background-size:100% 100%;
}
#cr4{
	background-image:url("../storePictures/Speakers/cr4.jpg");
	background-size:100% 100%;
}
#sdj2{
	background-image:url("../storePictures/DJ/sdj2.jpg");
	background-size:100% 100%;
}
#ac544{
	background-image:url("../storePictures/Guitars/ac544.jpg");
	background-size:100% 100%;
}
#omen5{
	background-image:url("../storePictures/Basses/omen5.jpg");
	background-size:100% 100%;
}

