	
								
								/*CONTENT STYLING*/

#side{
	border-radius:13px 0px 0px 13px;
	padding:0px;
	width:197px;
	background-color: #CACFD2;
	height:1420px;
	border-right:3px solid black;
	float:left;
}
#side button{
	float:left;
	height:45px;
	width:197px;
	background-color:#5C5C5C;
	font-family:Arial, Sans-Serif;
	font-size:20px;
	color:white;
}

#side button:hover{
	background-color:#CACFD2;
	cursor:pointer;
	color:black;
}
#side button:focus{
	outline:none;
}



#categoryHeader{
	font-family:Arial Black, Sans-Serif;
	font-size:30px;
	text-align:center;
	
}

.item{
	height:400px;
	width:300px;
	float:left;
	margin-left:20px;
	margin-top:20px;
	background-color:black;
	border-radius:15px;
	border:3px solid black;
}
.itemImg{
	height:350px;
	width:100%;
	border-radius:13px 13px 0px 0px;
	background: linear-gradient(#CACFD2,#EEEEEE);
	background-size:100% 100%;
	
}

.itemDesc{
	text-align:center;
	color:white;
	font-family:Arial,Sans-serif;
	font-size:22px;
	margin:0px;
	border-top:3px solid black;
	padding-top:10px;
	font-weight:strong;
}
.item:hover{
	cursor:pointer;
	box-shadow: 10px 10px 10px #888888;
	
}

.pageNumber{
	text-align:center;
	background-color:white;
	color:black;
	height:30px;
	width:30px;
	border-radius:5px;
	border:3px solid black;
	margin-right:10px;	
	font-family:Arial, Sans-Serif;
	font-size:18px;
}
.pageNumber:hover{
	color:white;
	background-color:black;
	cursor:pointer;
	
	
}




















































